@using MvcStokYtube.Models.Entity
@model List<TBLURUNLER>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>URUN ID</th>
        <th>URUN ADI</th>
        <th>URUN MARKASI</th>
        <th>URUN KATEGORİSİ</th>
        <th>URUN FİYATI</th>
        <th>SYOK ADEDİ</th>

    </tr>
    <tbody>
        @foreach (var urn in Model)
        {
            <tr>
                <th>@urn.URUNID</th>
                <td>@urn.URUNAD</td>
                <td>@urn.MARKA</td>
                <td>@urn.UNURKATEGORI</td>
                <td>@urn.FIYAT</td>
                <td>@urn.STOK</td>

            </tr>
        }

    </tbody>
</table>

